.project {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin: 10px;
}

.project__list {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin: 10px;
}

.project__card {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin: 10px;
}

card {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin: 10px;
}

.project__li {
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
  margin: 10px;
}
